# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

### ***Some of the popular languages that Data Scientists use are:***
1. Python
2. R 
3. SQL
4. Scala
5. Julia

### **Objectives:**
-  Know what are the data science language
-  Know what are the data tools
-  Know how to use Python

### ***Some of the commonly used libraries used by Data Scientists include:***
1. GGplot2
2. Dyplyr
3. Scikitlearn
4. Pandas
5. Numpy

|Data Science Tools|
--------------------
|GGplot2|
|Dyplyr|
|Scikitlearn|
|Pandas|
|Numpy|

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
#  This a simple arithmetic expression to mutiply then add integers

In [5]:
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

In [9]:
print(200/60,'hours')

3.3333333333333335 hours

## Author
Robin Duan